/*STYLE CSS*//*---------------------------------------------------*/
/*Style du body*//*-----------------------------------------------*/
body
{
   
}
/*Style du header*//*---------------------------------------------*/
header
{
}
/*Style du main*//*-----------------------------------------------*/
main
{
}
/*Style du footer*//*---------------------------------------------*/
footer
{
}
/*Style du menu*//*-----------------------------------------------*/
details
{
}
/*Style de la section*//*-----------------------------------------*/
section
{
}
/*Style de l'article*//*------------------------------------------*/
article
{
}
/*Style du paragraphe*//*-----------------------------------------*/
p
{
}
/*Style du titre*//*----------------------------------------------*/
h1
{
}