/*STYLE CSS*//*---------------------------------------------------*/

/*Fonts*//*-----------------------------------------------*/
@font-face {
  font-family: "Boogaloo";
  src: url("assets/fonts/boogaloo/boogaloo.woff2") format("woff2"),
  url("assets/fonts/boogaloo/boogaloo.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("assets/fonts/almarai/Almarai-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

/*Style du body*//*-----------------------------------------------*/
body {
  font-family:  "Almarai", "Arial",  sans-serif;
}
/*Style du header ---------------------------------------------*/
/* Header */
/* Affichage global */
header:not(main header) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #383838;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 0 1.2em;

  font-family: "Boogaloo", fantasy;
  font-size: 1.6em;
}

header:not(main header) h1 {
  color: #F2CB05;
  margin: 0;
}

header:not(main header) li {
  display: inline-block;
}

header:not(main header) a {
  color: #F2CB05;
  text-decoration: none;
  background-color: #A61420;
  padding: 0.4em 0.8em;
  margin-left: 0.6em;

  border-radius: 10px;

  display: flex;
  align-items: center;

  transition: background-color 0.5s, color 0.5s;
}


/* Icones des boutons */
header:not(main header) div {
  height: 30px;
  width: 30px;

  margin-right: 0.5em;
  background-size: contain;

  transition: background-image 0.5s;
}

header:not(main header) li:nth-of-type(1) div {
  background-image: url('assets/imgs/icons/icon_lieu_jaune.png');
}

header:not(main header) li:nth-of-type(2) div {
  background-image: url('assets/imgs/icons/icon_livre_jaune.png');
}

header:not(main header) li:nth-of-type(3) div {
  background-image: url('assets/imgs/icons/icon_personnage_jaune.png');
}

header:not(main header) li:nth-of-type(4) div {
  background-image: url('assets/imgs/icons/icon_gastronomie_jaune.png');
}

/* Effets au survol */
header:not(main header) a:hover {
  background-color: #F2CB05;
  color: #A61420;
}

header:not(main header) li:nth-of-type(1):hover div {
  background-image: url('assets/imgs/icons/icon_lieu_rouge.png');
}

header:not(main header) li:nth-of-type(2):hover div {
  background-image: url('assets/imgs/icons/icon_livre_rouge.png');
}

header:not(main header) li:nth-of-type(3):hover div {
  background-image: url('assets/imgs/icons/icon_personnage_rouge.png');
}

header:not(main header) li:nth-of-type(4):hover div {
  background-image: url('assets/imgs/icons/icon_gastronomie_rouge.png');
}
/*Style du header*//*-----------------------------------------------*/
main header {
  text-align: center;
  font-family: "Boogaloo", fantasy;
  font-size: 1.5em;
}

main header h1 {
  color: #A61420;
  margin: 0;
  text-transform: uppercase;
  font-size:  3.5em;
}

main header hr {
  width: 50%;
  border: 1px solid #383838;
}

main header p {
  margin: 0;
  color: #F29F05;
  width: 50%;
  margin: auto;
}

/*Style du main*//*-----------------------------------------------*/
main {
  margin-top: 7.5em;
}

/*Style du footer*//*---------------------------------------------*/
footer {

}
/*Style du menu*//*-----------------------------------------------*/
details {

}
/*Style de la section*//*-----------------------------------------*/
section {
  background-color: #D9D9D9;
  border-radius: 25px;

  padding: 0.5em;
  margin: 2em;
}

section > h2 {
  text-align: center;
  text-transform: uppercase;

  font-family: "Boogaloo", fantasy;
  font-size: 4em;
  letter-spacing: 3px;
  margin: 0;
}

section > div {
  display: flex;
  flex-wrap: wrap;

  justify-content:  center;
}

section > div > article {
  flex-basis: 28%;
}

section > div > article > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

section > div > article > h3 {
  font-family: "Boogaloo", fantasy;
  font-size: 1.7em;

  margin: 0;
}

section div article div {
  display: flex;
  align-items: center;
}

section div article div p {
  font-size: 0.9em;
  text-align: justify;

  margin-top: 0.2em;

  margin-right: 1em;
}

section div article div a {
  padding: 0.5em;

  font-family: "Boogaloo", fantasy;
  font-size: 1.2em;

  background-color: #A61420;
  border-radius: 10px;

  border: none;

  color: #F2CB05;
  text-decoration: none;
}

/*Style de l'article*//*------------------------------------------*/
article {

  background-color: #F2CB05;
  border-radius: 25px;

  padding: 1em;
  margin: 1em;

  text-align: justify;
}

article h2 {
  margin: 0;
  padding: 0;

  font-family: "Boogaloo", fantasy;
  font-size: 2em;
}

article article {
  box-shadow: 3px 3px 2px 3px rgba(56, 56, 56, 0.5);

  border: 1px solid #383838;
}

article article div {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

article article div h3 {
  text-transform: uppercase;
  font-family: "Boogaloo", fantasy;
  font-size: 1.5em;
}

article div:nth-of-type(1) {
  display: flex;

  align-items: center;
}

article div:nth-of-type(1) img {
  width: 32px;
  height: 32px;

  border-radius: 0;

  margin-right: 0.8em;
}

article div:nth-of-type(1) input {
  margin: 0 0.5em;
}

.Accueil article {

  float: right;
}

.Accueil article{

  height: fit-content;
}

.Accueil .agrandissement{


}
/*Style du paragraphe*//*-----------------------------------------*/
p {

}
/*Style des tableaux *//*----------------------------------------------*/

table td, table th {
  border:  1px solid #383838;

  width: 8em;
  padding: 0.5em;
}

table {
  border-collapse: collapse;
  text-align: center;

  margin: auto;
}

/*Style des images *//*----------------------------------------------*/
img {
  border-radius: 25px;
} 

/*CSS Index Sagrada Familia*/
.indexsagrada img{
  width: 50 em;
  height: 50 em;
}

/*CSS Sagrada Familia*/
.sagrada section {
  background-color: white;
}

.sagrada article:nth-of-type(1) img:nth-of-type(1){
  width: 20em;
  height: 20em;
}

.sagrada section:nth-of-type(2){
  flex-direction: row;
  justify-content: end;
}

