/*STYLE CSS*//*---------------------------------------------------*/

/*Fonts*//*-----------------------------------------------*/
@font-face {
  font-family: "Boogaloo";
  src: url("assets/fonts/boogaloo/boogaloo.woff2") format("woff2"),
  url("assets/fonts/boogaloo/boogaloo.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("assets/fonts/almarai/Almarai-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

/*Style du body*//*-----------------------------------------------*/
body {
  font-family:  "Almarai", "Arial",  sans-serif;
}
/*Style du header ---------------------------------------------*/
/* Header */
/* Affichage global */
header:not(main header) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #383838;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 0 1.2em;

  font-family: "Boogaloo", fantasy;
  font-size: 1.6em;
}

header:not(main header) h1 {
  color: #F2CB05;
  margin: 0;
}

header:not(main header) li {
  display: inline-block;
}

header:not(main header) a {
  color: #F2CB05;
  text-decoration: none;
  background-color: #A61420;
  padding: 0.4em 0.8em;
  margin-left: 0.6em;

  border-radius: 10px;

  display: flex;
  align-items: center;

  transition: background-color 0.5s, color 0.5s;
}


/* Icones des boutons */
header:not(main header) div {
  height: 30px;
  width: 30px;

  margin-right: 0.5em;
  background-size: contain;

  transition: background-image 0.5s;
}

header:not(main header) li:nth-of-type(1) div {
  background-image: url('assets/imgs/icons/icon_lieu_jaune.png');
}

header:not(main header) li:nth-of-type(2) div {
  background-image: url('assets/imgs/icons/icon_livre_jaune.png');
}

header:not(main header) li:nth-of-type(3) div {
  background-image: url('assets/imgs/icons/icon_personnage_jaune.png');
}

header:not(main header) li:nth-of-type(4) div {
  background-image: url('assets/imgs/icons/icon_gastronomie_jaune.png');
}

/* Effets au survol */
header:not(main header) a:hover {
  background-color: #F2CB05;
  color: #A61420;
}

header:not(main header) li:nth-of-type(1):hover div {
  background-image: url('assets/imgs/icons/icon_lieu_rouge.png');
}

header:not(main header) li:nth-of-type(2):hover div {
  background-image: url('assets/imgs/icons/icon_livre_rouge.png');
}

header:not(main header) li:nth-of-type(3):hover div {
  background-image: url('assets/imgs/icons/icon_personnage_rouge.png');
}

header:not(main header) li:nth-of-type(4):hover div {
  background-image: url('assets/imgs/icons/icon_gastronomie_rouge.png');
}
/*Style du header*//*-----------------------------------------------*/
main header {
  text-align: center;
  font-family: "Boogaloo", fantasy;
  font-size: 1.5em;
}

main header h1 {
  color: #A61420;
  margin: 0;
  text-transform: uppercase;
  font-size:  3.5em;
}

main header hr {
  width: 50%;
  border: 1px solid #383838;
}

main header p {
  margin: 0;
  color: #F29F05;
  width: 50%;
  margin: auto;
}

/*Style du main*//*-----------------------------------------------*/
main {
  margin-top: 7.5em;

}
/*Style du footer*//*---------------------------------------------*/
footer {

}
/*Style du menu*//*-----------------------------------------------*/
details {

}
/*Style de la section*//*-----------------------------------------*/
section {
  background-color: #D9D9D9;
  border-radius: 25px;

  padding: 0.5em;
  margin: 2em;
}

section > h2 {
  text-align: center;
  text-transform: uppercase;

  font-family: "Boogaloo", fantasy;
  font-size: 4em;
  letter-spacing: 3px;
  margin: 0;
}

section > div {
  display:  flex;
  flex-wrap: wrap;
}

section > div > article {
  flex-basis: 30%;
}

/*Style de l'article*//*------------------------------------------*/
article {

  background-color: #F2CB05;
  border-radius: 25px;

  padding: 1em;
  margin: 1em;

  text-align: justify;
}

article h2 {
  margin: 0;
  padding: 0;

  font-family: "Boogaloo", fantasy;
  font-size: 2em;
}

article article {
  box-shadow: 3px 3px 2px 3px rgba(56, 56, 56, 0.5);

  border: 1px solid #383838;

}

article article div {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

article article div h3 {
  text-transform: uppercase;
  font-family: "Boogaloo", fantasy;
  font-size: 1.5em;
}
/*Style du paragraphe*//*-----------------------------------------*/
p {

}
/*Style des tableaux *//*----------------------------------------------*/

table td, table th {
  border:  1px solid #383838;

  width: 8em;
  padding: 0.5em;
}

table {
  border-collapse: collapse;
  text-align: center;

  margin: auto;
}

/*Style des images *//*----------------------------------------------*/
img {
  border-radius: 25px;
}

/*Style des boutons *//*----------------------------------------------*/
button {
  background-color: #A61420;
  border-radius: 10px;

  border: none;

  color: #F2CB05;
}

 .Accueil article{

  overflow: auto;
}

.Accueil article h3{

  text-align: center;
  width: 60%;
  font-size: 2.5em;
  padding-bottom: 1.2em;
  border-bottom: 2px solid black;
}

.Accueil article p{

  line-height: 1.6em;
}

.Accueil #presentationEsp > div{

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.Accueil #presentationEsp > div > #diaporama{
  width: 500px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.Accueil #diaporama > div{
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s linear;
  animation: cycle 12s linear infinite;
  animation-play-state: paused;
  animation-fill-mode: both;
}

.Accueil #diaporama > div:nth-child(1) {
  background-image: url('images/iloveimg-resized/imageEsp1.png');
  animation-delay: 0s;
}

.Accueil #diaporama > div:nth-child(2) {
  background-image: url('images/iloveimg-resized/imageEsp2.jpg');
  animation-delay: -4s;
}

.Accueil #diaporama > div:nth-child(3) {
  background-image: url('images/iloveimg-resized/imageEsp3.png');
  animation-delay: -8s;
}

.Accueil #presentationEsp:hover #diaporama > div {
  animation-play-state: running;
}

.Accueil #diaporama > div:first-child{
  opacity: 1;
  z-index: 1;
}

.Accueil #diaporama > div:first-child {
  opacity: 1;
  z-index: 1;
}

@keyframes cycle {
  0% { opacity: 0; z-index: 0; }
  4.1667% { opacity: 1; z-index: 2; }
  29.1667% { opacity: 1; z-index: 2; }
  33.3333% { opacity: 0; z-index: 0; }
  100% { opacity: 0; z-index: 0; }
}

.Accueil #presentationEsp > div > p{
  width: 50%;
  text-align: justify;
}

/*Article N°2*/
.Accueil #demographie{
  width: 100%;
  max-width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.Accueil #demographie input[type="radio"]{ display: none; }
.Accueil #slides-dem{
  position: relative;
  width: 100%;
  height: 100%;
}
.Accueil #slides-dem > div{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.Accueil #slides-dem > div div{
  width: 48%;
  color: #000;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.7em;
  margin-left: 2em;;
}
.Accueil #slides-dem > div div h4{ 
  margin: 0 0 0.4em 0; 
  font-size: 1.4em; 
}
.Accueil #slides-dem > div div p{
  margin: 0.2em 0; 
  font-size: 1em; 
}
.Accueil #slides-dem > div figure{ 
  width: 48%; 
  text-align: center; 
}
.Accueil #slides-dem > div figure img{ 
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
}

.Accueil #demographie #s0:checked ~ #slides-dem > div:nth-child(1),
.Accueil #demographie #s1:checked ~ #slides-dem > div:nth-child(2),
.Accueil #demographie #s2:checked ~ #slides-dem > div:nth-child(3){
  opacity: 1; z-index: 2;
}

.Accueil #slides-dem > div label:first-of-type,
.Accueil #slides-dem > div label:last-of-type{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.65);
  color: #fff;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.25em;
  line-height: 1;
}
.Accueil #slides-dem > div label:first-of-type{ 
  left: 10px; 
}
.Accueil #slides-dem > div label:last-of-type{ 
  right: 10px; 
}

.Accueil #demographie #s0:checked ~ #slides-dem > div:nth-child(1){ 
  opacity:1; 
}
/*Article N°3*/

.Accueil #symboles{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-auto-rows: auto;
  gap: 0.5em;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.Accueil #symboles h3{
  grid-column: 1 / -1;
  margin: 0 0 0.5em 0;
}

.Accueil #symboles p:nth-of-type(2){
  grid-row: 2;
  grid-column: 1;
}
.Accueil #symboles p:nth-of-type(1){
  grid-row: 2;
  grid-column: 2;
  font-size: 3.3em;
  border: 1px solid #383838;
  border-radius: 10px;
  padding: 1.2em;
  box-shadow: 3px 3px 6px rgba(56,56,56,0.18);
  color: #111;
  text-align: left;
  font-family: "Boogaloo";
  font-weight: bold;
  text-align: center;

}

.Accueil #symboles figure:nth-of-type(1){
  grid-row: 3;
  grid-column: 1;
  height: 200px;
  width: 350px;
}
.Accueil #symboles p:nth-of-type(3){
  grid-row: 3;
  grid-column: 2;
}

.Accueil #symboles figure img{ 
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
}

/*Article N°4*/

.Accueil #monnaie{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-auto-rows: auto;
  gap: 0.5em;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.Accueil #monnaie h3{
  grid-column: 1 / -1;
  margin: 0 0 0.5em 0;
}

.Accueil #monnaie p:nth-of-type(1){
  grid-row: 2;
  grid-column: 1;
}
.Accueil #monnaie figure:nth-of-type(1){
  grid-row: 2;
  grid-column: 2;
}

.Accueil #monnaie figure:nth-of-type(2){
  grid-row: 3;
  grid-column: 1;
}
.Accueil #monnaie p:nth-of-type(2){
  grid-row: 3;
  grid-column: 2;
}

.Accueil #monnaie figure img{ 
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
}

.Accueil #monnaie img{ 
  width: 150px;
}

/*Articles N°5 et N°6*/

.Accueil #accessibilite {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Accueil #accessibilite > article {
  width: 48%;
}
.Accueil #accessibilite > #langues img{
  height:270px;
}
.Accueil #accessibilite > #territoire img{
  height:270px;
}

.Accueil #accessibilite h3{

  width: 100%;
  text-align: center;
}
.Accueil #langues:not(ul){

  text-align: center;
}
.Accueil #territoire:not(ul){

  text-align: center;
}

/*Article n°7*/
.Accueil #histoire div{

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.Accueil #histoire img{

  height: 300px;
  margin-left: 1em;
}
