/*STYLE CSS*//*---------------------------------------------------*/

/*Fonts*//*-----------------------------------------------*/
@font-face {
  font-family: "Boogaloo";
  src: url("assets/fonts/boogaloo/boogaloo.woff2") format("woff2"),
  url("assets/fonts/boogaloo/boogaloo.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("assets/fonts/almarai/Almarai-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

/*Style du body*//*-----------------------------------------------*/
body {
  font-family:  "Almarai", "Arial",  sans-serif;
}
/*Style du header ---------------------------------------------*/
/* Header */
/* Affichage global */
header:not(main header) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #383838;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 0 1.2em;

  font-family: "Boogaloo", fantasy;
  font-size: 1.6em;
}

header:not(main header) h1 {
  color: #F2CB05;
  margin: 0;
}

header:not(main header) li {
  display: inline-block;
}

header:not(main header) a {
  color: #F2CB05;
  text-decoration: none;
  background-color: #A61420;
  padding: 0.4em 0.8em;
  margin-left: 0.6em;

  border-radius: 10px;

  display: flex;
  align-items: center;

  transition: background-color 0.5s, color 0.5s;
}


/* Icones des boutons */
header:not(main header) div {
  height: 30px;
  width: 30px;

  margin-right: 0.5em;
  background-size: contain;

  transition: background-image 0.5s;
}

header:not(main header) li:nth-of-type(1) div {
  background-image: url('assets/imgs/icons/icon_lieu_jaune.png');
}

header:not(main header) li:nth-of-type(2) div {
  background-image: url('assets/imgs/icons/icon_livre_jaune.png');
}

header:not(main header) li:nth-of-type(3) div {
  background-image: url('assets/imgs/icons/icon_personnage_jaune.png');
}

header:not(main header) li:nth-of-type(4) div {
  background-image: url('assets/imgs/icons/icon_gastronomie_jaune.png');
}

/* Effets au survol */
header:not(main header) a:hover {
  background-color: #F2CB05;
  color: #A61420;
}

header:not(main header) li:nth-of-type(1):hover div {
  background-image: url('assets/imgs/icons/icon_lieu_rouge.png');
}

header:not(main header) li:nth-of-type(2):hover div {
  background-image: url('assets/imgs/icons/icon_livre_rouge.png');
}

header:not(main header) li:nth-of-type(3):hover div {
  background-image: url('assets/imgs/icons/icon_personnage_rouge.png');
}

header:not(main header) li:nth-of-type(4):hover div {
  background-image: url('assets/imgs/icons/icon_gastronomie_rouge.png');
}
/*Style du header*//*-----------------------------------------------*/
main header {
  text-align: center;
  font-family: "Boogaloo", fantasy;
  font-size: 1.5em;
}

main header h1 {
  color: #A61420;
  margin: 0;
  text-transform: uppercase;
  font-size:  3.5em;
}

main header hr {
  width: 50%;
  border: 1px solid #383838;
}

main header p {
  margin: 0;
  color: #F29F05;
  width: 50%;
  margin: auto;
}

/*Style du main*//*-----------------------------------------------*/
main {
  margin-top: 7.5em;
}

/*Style du footer*//*---------------------------------------------*/
footer {

}
/*Style du menu*//*-----------------------------------------------*/
details {

}
/*Style de la section*//*-----------------------------------------*/
section {
  background-color: #D9D9D9;
  border-radius: 25px;

  padding: 0.5em;
  margin: 2em;
}

section > h2 {
  text-align: center;
  text-transform: uppercase;

  font-family: "Boogaloo", fantasy;
  font-size: 4em;
  letter-spacing: 3px;
  margin: 0;
}

section > div {
  display: flex;
  flex-wrap: wrap;

  justify-content:  center;
}

.hubPage section > div > article {
  flex-basis: 28%;
}

section > div > article > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

section > div > article > h3 {
  font-family: "Boogaloo", fantasy;
  font-size: 1.7em;

  margin: 0;
}

section div article div {
  display: flex;
  align-items: center;
}

section div article div p {
  font-size: 0.9em;
  text-align: justify;

  margin-top: 0.2em;

  margin-right: 1em;
}

section div article div a {
  padding: 0.5em;

  font-family: "Boogaloo", fantasy;
  font-size: 1.2em;

  background-color: #A61420;
  border-radius: 10px;

  border: none;

  color: #F2CB05;
  text-decoration: none;
}

/*Style de l'article*//*------------------------------------------*/
article {

  background-color: #F2CB05;
  border-radius: 25px;

  padding: 1em;
  margin: 1em;

  text-align: justify;
}

article h2 {
  margin: 0;
  padding: 0;

  font-family: "Boogaloo", fantasy;
  font-size: 2em;
}

article article {
  box-shadow: 3px 3px 2px 3px rgba(56, 56, 56, 0.5);

  border: 1px solid #383838;
}

article article div {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

article article div h3 {
  text-transform: uppercase;
  font-family: "Boogaloo", fantasy;
  font-size: 1.5em;
}

article div:nth-of-type(1) {
  display: flex;

  align-items: center;
}

article div:nth-of-type(1) img {
  width: 32px;
  height: 32px;

  border-radius: 0;

  margin-right: 0.8em;
}

article div:nth-of-type(1) input {
  margin: 0 0.5em;
}

.Accueil article {

  float: right;
}

.Accueil article{

  height: fit-content;
}

.Accueil .agrandissement{


}
/*Style du paragraphe*//*-----------------------------------------*/
p {

}

/*Style des blockquote *//*-----------------------------------------*/
blockquote {
  margin: 0 1em;
}
/*Style des tableaux *//*----------------------------------------------*/

table td, table th {
  border:  1px solid #383838;

  width: 8em;
  padding: 0.5em;
}

table {
  border-collapse: collapse;
  text-align: center;

  margin: auto;
}

/*Style des images *//*----------------------------------------------*/
img {
  border-radius: 25px;
}



/* Placement des éléments dans les pages *//*----------------------------------------------*/
.paella section {
  display: grid;

  grid-template-columns: repeat(46, 2.17%);
  grid-template-rows: repeat(71, 30px);

<<<<<<< Updated upstream
  /*grid-template-columns: repeat(46, 30px);
  grid-template-rows: repeat(73, 30px);*/
}

  /* Bloc Recettes */
.paella section > article:nth-of-type(1) {
  grid-area: 1 / 1 / 28 / 31;
}

.paella section > article:nth-of-type(1) div:not(div div) {
  display: flex;

  justify-content: space-between;
}

.paella section > article:nth-of-type(1) input {
  background-color: #F2CB05;
  border: none;
  width: 2em;
  height: 1.2em;
  text-align: center;

  border-bottom: 1px solid #383838;

  font-family: "Boogaloo", fantasy;
  font-size: 1.5em;

  align-self: center;
}

.paella section > article:nth-of-type(1) select {
  background-color: #A61420;
  color: #F2CB05;

  border: none;
  font-size: 1em;
  padding: 0.3em;
  border-radius: 10px;
}

.paella section > article:nth-of-type(1) h3 {
  margin-bottom: 0.2em;

  font-family: "Boogaloo", fantasy;
  font-size: 1.7em;
}

.paella section > article:nth-of-type(1) ul,
.paella section > article:nth-of-type(1) ol {
  margin-top: 0;
}

.paella section > article:nth-of-type(1) li {
  margin-bottom: 0.25em;
}

  /* Bloc Description */
.paella section > article:nth-of-type(2) {
  grid-area: 1 / 31 / 12 / 47;
}

  /* Bloc origine */
.paella section > article:nth-of-type(3) {
  grid-area: 12 / 31 / 28 / 47;
}

.paella section > article:nth-of-type(3) img:not(div img) {
  margin: 5% 20%;
}

  /* Bloc activités touristiques*/
.paella section > article:nth-of-type(4) {
  grid-area: 28 / 1 / 45 / 47;
}

.paella section > article:nth-of-type(4) div {
  display: flex;
}

.paella section > article:nth-of-type(4) div article div div {
  flex-direction: column;
  flex-basis: 40%;
}

.paella section > article:nth-of-type(4) div article div div {
=======





















/*-------------------Style de yamal----------------------*/


mark{
  color: #A61420;
  background-color:#F2CB05;
}

.Yamal main section:nth-of-type(1){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2em;
}

.Yamal main section:nth-of-type(1) div > article{
>>>>>>> Stashed changes
  width: 50%;
}

.paella section > article:nth-of-type(4) div article div div p:nth-of-type(1) {
  text-align: justify;
}

<<<<<<< Updated upstream
.paella section > article:nth-of-type(4) div article div div p:nth-of-type(2) {
  text-align: center;
}

.paella section > article:nth-of-type(4) article {
  width: 45%;
  margin: 2em auto;
}

.paella article:nth-of-type(4) div:nth-of-type(2) img {
  width: 55%;
}

  /* Bloc Meilleures paëllas */
.paella section > article:nth-of-type(5) {
  grid-area: 45 / 1 / 63 / 31;
}

.paella article:nth-of-type(5) article {
  width: 100%;
  align-self: stretch;
}

.paella article:nth-of-type(5) > div:nth-of-type(2) > img {
  width:  32px;
=======
.Yamal main section:nth-of-type(1) > div{
  flex-shrink: 1;
  width: 100%;
  padding: 0%;
  justify-content: space-between;
  flex-wrap: nowrap;
}



/*article 1 sur la présentation*/



.Yamal main > section:nth-of-type(1) article:nth-of-type(1){
  height: 21em;
}

.Yamal > main > section:nth-of-type(1) > article:nth-of-type(1) h2{
  width: fit-content;
  font-size: 4em;
  top:350px;
  left:380px;
  position: absolute;
}

.Yamal section:nth-of-type(1) article:nth-of-type(1) div:nth-of-type(1) p{
  text-align: center;
}



.Yamal section:nth-of-type(1) article:nth-of-type(1) div img{
  width: 100%;
  height: 100%;
  border-radius: 2em;
}

.Yamal main section:nth-of-type(1) article:nth-of-type(1) > div figure{
  float: right;
}



/*article 2 sur ou le retrouver*/

.Yamal section:nth-of-type(1) div article:nth-of-type(1){
  display : grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
  height: 20em;
 }

.Yamal section:nth-of-type(1) div article:nth-of-type(1) div{
  grid-area: 1/10/1/1;
}

.Yamal section:nth-of-type(1) div article:nth-of-type(1) p:nth-of-type(1){
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 6;
  grid-column-end: 10;
}

.Yamal section:nth-of-type(1) div article:nth-of-type(1) p:nth-of-type(2){
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 6;
  grid-column-end: 10;
}


 .Yamal section:nth-of-type(1) div article:nth-of-type(1) img:nth-of-type(1), img:nth-of-type(3){
  width: 32px;
>>>>>>> Stashed changes
  height: 32px;

  cursor: pointer;
}

.paella article:nth-of-type(5) > div:nth-of-type(2) > img:nth-of-type(2) {
  rotate: 180deg;
}

.paella article:nth-of-type(5) div:nth-of-type(2) {
  display: flex;

  align-items: center;
}

.paella article:nth-of-type(5) div:nth-of-type(2) {
  display: flex;
}

.paella article:nth-of-type(5) iframe {
  width: 100%;
  height: 18em;

  border: none;
}

  /* Bloc Consommation */
.paella section > article:nth-of-type(6) {
  grid-area: 45 / 31 / 63 / 47;
}


<<<<<<< Updated upstream
  /* Bloc citation */
.paella section > article:nth-of-type(7) {
  grid-area: 63 / 7 / 71 / 24;
}

.paella section > article:nth-of-type(7) div:nth-of-type(2) img {
  width: 40%;
}

  /*Bloc Le saviez-vous ? */
.paella section > article:nth-of-type(8) {
  grid-area: 63 / 25 / 71 / 42;
}

.paella section > article:nth-of-type(8) div:nth-of-type(2) img {
  width: 30%;
}

.paella section > article:nth-of-type(8) p {
  margin: 1em;
}

.paella section > article:nth-of-type(7) div:nth-of-type(2),
.paella section > article:nth-of-type(8) div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
}

=======

.Yamal section:nth-of-type(1) div article:nth-of-type(1) figure:nth-of-type(1){
  grid-row-start:2;
  grid-column-start: 2;
}

.Yamal section:nth-of-type(1) div article:nth-of-type(1) figure:nth-of-type(2){
  grid-row-start:5;
  grid-column-start: 1;
}


.Yamal section:nth-of-type(1) div article:nth-of-type(1) figure:nth-of-type(1) img{
  width: 160px;
  height: 100px;
}


.Yamal section:nth-of-type(1) div article:nth-of-type(1) figure:nth-of-type(2) img{
  width: 275px;
  height: 175px;
}

/*article 3 sur les activités*/

.Yamal section:nth-of-type(1) div > article:nth-of-type(2) ul{
  text-align: left;
}


.Yamal section:nth-of-type(1) div > article:nth-of-type(2){
  padding-top: 0%;
  text-align: center;
}


.Yamal section:nth-of-type(1) div article:nth-of-type(2) figure:nth-of-type(1) img{
  width: 300px;
  height: 170px;
}

/*article 4 sur la biographie*/

.Yamal main > div:nth-of-type(1) section article:nth-of-type(1) figcaption{
  text-align: left;
}

.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(1) div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Yamal main > div:nth-of-type(1) section article:nth-of-type(1) p{
  width: fit-content;
  margin-right: 1em;
}



.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(1) figure{  
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 1em;
  margin-right: 1%;
}



.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(1) img{  
  width: 100%;
  height: 60%;
  margin-right: 0%;
  border-radius: 1.5em;
}

/*article 5 sur la formation*/

.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(2) img{
  width: 100%;
  height: 100%;
  margin-left: 0%;
  border-radius: 1.5em;
 }

 


.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(2) div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Yamal main > div:nth-of-type(1) section article:nth-of-type(2) p{
  width: fit-content;
  margin-left: 1em;
}



.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(2) figure{  
  width: 40%;
  height: 100%;
  float: right;
  margin-right: 1em;
  margin-left: 1em;
}


/*article 6 sur les débuts professionnel*/


/*article 7 sur le palmares*/


.Yamal h4 {
  text-align: center;
  font-size:xx-large;
  margin: auto;
}

.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(4) div{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  width: fit-content;
}


.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(4) div div{
  flex-direction: column;
}

.Yamal main > div:nth-of-type(1) section article:nth-of-type(4) ul{
  text-align: left;
}
.Yamal main > div:nth-of-type(1) section article:nth-of-type(4) li{
  margin: 3% 0%;
}

.Yamal main > div:nth-of-type(1) section article:nth-of-type(4) p{
  width: fit-content;
  margin-right: 1em;
}



.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(4) figure{  
  width: 100%;
  height: 100%;
  float: center;
  margin-left: 1em;
  margin-right: 1em;
}


.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(4) div div{  
  align-self: flex-start;
}

.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(4) div div:nth-of-type(2){  
  width: 30%;
}


.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(4) div div:nth-of-type(3){  
  width: 30%;
  margin-left: 4em;
}



.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(4) img{  
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}


/*article 8 sur les débuts avec la nation*/

.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(5) div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Yamal main > div:nth-of-type(1) section article:nth-of-type(5) p{
  
  width: fit-content;
  margin:auto 1em;
}



.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(5) figure{  
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 1em;
  margin-right: 1%;
}



.Yamal main > div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(5) img{  
  width: 100%;
  height: 60%;
  margin-right: 0%;
  border-radius: 1.5em;
}




/*article 9 et 10 bas de page*/


.Yamal main > section:last-child{
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  height: 25em;
  padding: 0%;
  justify-content: space-between;
  flex-wrap: nowrap;
}



.Yamal main > section:last-child iframe{
  padding: 1em;
}

.Yamal main > section:last-child article:nth-of-type(2) figure img:nth-of-type(1){
  width: 60%;
  position: relative;
  z-index: 2;
  top: -10px;
  left: 15px;
}


.Yamal main > section:last-child article:nth-of-type(2) figure img:nth-of-type(2){
  width: 60%;
  position: relative;
  z-index: 1;
  top: -100px;
  left: 220px;
}

/*----------annimation-Yamal------------- */


#yamal-esp:hover{
  animation: anim-yamal 2s ease 0.3s;
  animation-fill-mode: forwards;
}

#yamal-barca:hover{
  animation: anim-yamal2 2s ease 0.3s;
  animation-fill-mode: forwards;
}


@keyframes anim-yamal{
  100% {
    transform: scale(1.6) translateY(40px) translate(70px);
    z-index: 2;
    animation-play-state: paused;

  }
}

@keyframes anim-yamal2{
  100% {
    transform: scale(1.6) translateY(-40px) translate(-70px);
    z-index: 2;
    animation-play-state: paused;
  }
}
>>>>>>> Stashed changes
